@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}
.landingPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.39)),
    url("https://www.creative-tim.com/blog/content/images/2022/01/which-development-job-is-right-for-you.jpg");
  height: 90vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: zoomInOut 10s infinite alternate;
}

.fadeIn {
  animation: fadeInAnimation 2s ease-in forwards;
  opacity: 0;
}

.mobileImage {
 
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.432)));
}
.image_drop {
  position: relative;
  display: inline-block;
  animation: dropAndZoom 1.5s ease-in-out forwards, zoomInOut 4s ease-in-out infinite;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomInOut {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}


@keyframes dropAndZoom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



